<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mydb?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">basemysql</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property>
    <mapping resource="prueba/Turno.hbm.xml"/>
    <mapping resource="prueba/Dia.hbm.xml"/>
    <mapping resource="prueba/Usuario.hbm.xml"/>
    <mapping resource="prueba/Profesor.hbm.xml"/>
    <mapping resource="prueba/Especialidad.hbm.xml"/>
    <mapping resource="prueba/Modulo.hbm.xml"/>
    <mapping resource="prueba/ResolucionDirectoral.hbm.xml"/>
    <mapping resource="prueba/GrupoDia.hbm.xml"/>
    <mapping resource="prueba/Alumno.hbm.xml"/>
    <mapping resource="prueba/Grupo.hbm.xml"/>
    <mapping resource="prueba/CapacidadTerminal.hbm.xml"/>
    <mapping resource="prueba/ProgCurricular.hbm.xml"/>
    <mapping resource="prueba/Matricula.hbm.xml"/>
    <mapping resource="prueba/CurriculaAnual.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
