<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mydb</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">limdli</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property>
    <mapping resource="mapeos/Turno.hbm.xml"/>
    <mapping resource="mapeos/Dia.hbm.xml"/>
    <mapping resource="mapeos/Usuario.hbm.xml"/>
    <mapping resource="mapeos/Profesor.hbm.xml"/>
    <mapping resource="mapeos/Especialidad.hbm.xml"/>
    <mapping resource="mapeos/Modulo.hbm.xml"/>
    <mapping resource="mapeos/ResolucionDirectoral.hbm.xml"/>
    <mapping resource="mapeos/GrupoDia.hbm.xml"/>
    <mapping resource="mapeos/Alumno.hbm.xml"/>
    <mapping resource="mapeos/Grupo.hbm.xml"/>
    <mapping resource="mapeos/CapacidadTerminal.hbm.xml"/>
    <mapping resource="mapeos/ProgCurricular.hbm.xml"/>
    <mapping resource="mapeos/Matricula.hbm.xml"/>
    <mapping resource="mapeos/CurriculaAnual.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
